

.features {
    @media(min-width: 320px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        &-romb {
            display: none;
        }
        &__wrapper{
            margin-top: -65px;
            position: relative;
            z-index: 2;
        }
        &__title {
            font-size: 20px;
            font-weight: $regular;
            margin-bottom: 45px;
        }
        &__text {
            color: $hard-gradient;
            background: $hard-gradient;
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;

        }
    }
    @media(min-width: 425px) {
        &__title {
            font-size: 20px
        }
    }
    @media(min-width: 500px) {
        &__title {
            font-size: 30px;
        }
        
    }
}