

.features {
    @media(min-width: 320px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        &-romb {
            display: none;
        }
        &__wrapper{
            margin-top: -65px;
            position: relative;
            z-index: 2;
            overflow: hidden;
        }
        &__title {
            font-size: 20px;
            font-weight: $regular;
            margin-bottom: 45px;
        }
        &__text {
            color: $hard-gradient;
            background: $hard-gradient;
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;

        }
    }
    @media(min-width: 425px) {
        &__title {
            font-size: 20px
        }
    }
    @media(min-width: 500px) {
        &__title {
            font-size: 30px;
        }
        
    }
    @media(min-width: 700px) {
        padding: 64px 0 132px;
    }
    @media(min-width: 768px) {
        &__carts {
            padding: 0 50px;
            position: relative;
            z-index: 10;
        }
        &-romb {
            display: block;
            position: absolute;
            &-1 {
                top: 255px;
                left: -50px;
                img {
                    width: 176px;
                    height: 199px;
                }
            }
            &-2 {
                top: 400px;
                left: 90px;
                img {
                    width: 85px;
                    height: 97px;
                }
            }
            &-3 {
                top: 480px;
                left: 60px;
                img {
                    width: 40px;
                    height: 46px;
                }
            }
            &-4 {
                bottom: 104px;
                right: 15px;
                img {
                    width: 176px;
                    height: 199px;
                }
            }
            &-5 {
                bottom: 40px;
                right: -17px;
                img {
                    width: 85px;
                    height: 97px;
                }
            }
            &-6 {
                bottom: 2px;
                right: 32px;
                img {
                    width: 40px;
                    height: 46px;
                }
            }
        }
    }
    @media( min-width: 1024px) {
        
        &__carts {
            display: flex;
            padding: 0;
        }
        &-romb {
            &-1 {
                top: 160px;
                left: -210px;
                img {
                    width: 543px;
                    height: 484px;
                }
            }
            &-2 {
                top: 350px;
                left: 280px;
                img {
                    width: 233px;
                    height: 264px;
                }
            }
            &-3 {
                top: 600px;
                left: 200px;
                img {
                    width: 110px;
                    height: 125px;
                }
            }
            &-4, &-5, &-6 {
                display: none;
            }
        }
    }
}