.order {
    @media(min-width: 320px) {
        text-align: center;
        display: flex;
        padding: 23px 0 80px 0;
        &-romb {
            display: none;
        }
        &__wrapper{
            position: relative;
            overflow: hidden;
            .decor-romb{
                display: none;
            }
        }
        &__link {
            display: none;
        }
        &__text {
            position: relative;
            z-index: 2;
            font-weight: $light;
            font-size: 20px;
            margin-bottom: 9px;
        }
        &__title {
            position: relative;
            z-index: 2;
            margin: 0 0 8px 0;
        }
        &__btn {
            position: relative;
            z-index: 2;
            max-width: 93px;
            border-radius: 7px;
            font-size: 10px;
            margin: 0 auto;
            text-transform: uppercase;
            font-weight: $black;
            padding: 8px 17px;
        }
        
        &__img{
            display: none;
        }
        &__bg {
            z-index: 1;
            left: 0;
            top: 0;
            position: absolute;
            width: 120%;
            height: 100%;
            background: url('../img/bg.jpg') center no-repeat;
            background-size: contain;
            transform: translate(-10%);
        }
    }
    @media(min-width: 425px) {
        background-size: contain;
        &__text {
            font-size: 25px;
        }
        &__btn {
            font-size: 14px;
            min-width: 141px;
        }
    }
    @media(min-width: 700px) {
        padding: 23px 0 50px 0;
        background-size: contain;
        &-romb {
            display: block;
            position: absolute;
            &-1 {
                transform: rotate(-75deg);
                bottom: 40px;
                left: 60px;
                img {
                    width: 75px;
                    height: 67px;
                }
            }
            &-2 {
                transform: rotate(-75deg);
                bottom: 98px;
                left: 49px;
                img {
                    width: 44px;
                    height: 38px;
                }
            }
            &-3 {
                transform: rotate(-75deg);
                bottom: 82px;
                left: 79px;
                img {
                    width: 13px;
                    height: 13px;
                }
            }
            &-4 {
                top: 12px;
                left: 242px;
                z-index: 30;
                transform: rotate(30deg);
                img {
                    width: 45px;
                    height: 40px;
                }
            }
            &-5 {
                top: 5px;
                left: 229px;
                z-index: 30;
                transform: rotate(30deg);
                img {
                    width: 23px;
                    height: 20px;
                }
            }
        }
        
        &__left {
            padding-top: 60px;
            text-align: left;
        }
        &__text{
            display: none;
        }
        &__link {
            display: block;
        }
        &__img {
            display: block;
            position: relative;
            z-index: 10;
            bottom: 49px;
        }
        
        &__bg {
            width: 525px;
            height: 368px;
            right: -65px;
            left: inherit;
        }
        &__btn {
            margin: 0;
            font-size: 15px;
            padding: 12px 0;
        }
    }
    @media(min-width: 900px) {
        background-size: contain;
        &__text {
            display: block;
            margin-bottom: 24px;
        }
        &__link {
            display: none;
        }
        &__wrapper {
            padding-top: 50px;
        }
    }
    @media(min-width: 1024px) {
        &__btn {
            max-width: 155px;
        }
        &-romb {
            &-1 {
                bottom: 35px;
                left: 10px;
            }
        }
    }
    @media(min-width: 1400px) {
        &__btn {
            width: 100%;
            max-width: 179px;
        }
    }
}