.popup {
    @media(min-width: 320px) {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        padding: 0 15px;
        width: 100%;
        &-romb {
            display: none;
        }
        &__wrapper {
            position: fixed;
            width: 100%;
            height: 100%;
            z-index: 10000;
            background: rgba(255, 255, 255, 0.15);
            backdrop-filter: blur(50px);
            top: 0;
            left: 0;
            visibility: hidden;
            opacity: 0;
            transition: 0.3s;
            &_active {
                visibility: visible;
                opacity: 1;
            }
        }
        
        &__body {
            display: flex;
            flex-direction: column;
            width: 100%;
            align-items: center;
            justify-content: center;
            padding: 27px 26px;
            background: #FFFFFF;
            box-shadow: 0px 0px 35px rgba(212, 20, 90, 0.25);
            border-radius: 15px;
        }
        &__title {
            text-transform: uppercase;
            font-size: 15px;
            font-weight: $medium;
            margin-bottom: 10px;
        }
        &__btn {
            padding: 7px;
            border-radius: 4px;
        }
        &__form {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            &__item {
                width: 100%;
                border-radius: 9px;
                padding: 0 7px 5px;
                border: 1px solid #A2A2A2;
                margin-bottom: 20px;
                &::placeholder {
                    color: #989898;
                    font-weight: $light;
                    text-align: center;
                    font-size: 10px;
                }
                &:nth-child(3) {
                    padding: 7px;
                    height: 95px;
                }
            }
        }
    }
    @media(min-width: 500px) {
        &__title {
            font-size: 24px;
            margin-bottom: 23px;
        }
        &__body {
            padding: 43px 57px 37px;
        }
        &__form {
            &__item {
                padding: 11px 20px;
                &::placeholder {
                    text-align: left;
                    font-size: 14px;
                }
            }
        }
        &__btn {
            padding: 11px 20px;
        }
    }
    @media(min-width: 768px) {
        &__body {
            position: relative;
            overflow: hidden;
            padding: 43px 107px 37px;
        }
        &-romb {
            display: block;
            position: absolute;
            &-1 {
                left: 5px;
                bottom: 150px;
                transform: rotate(90deg);
                img {
                    width: 35px;
                    height: 43px;
                }
            }
            &-2 {
                left: -80px;
                bottom: -40px;
                transform: rotate(90deg);
                img {
                    width: 150px;
                    height: 185px;
                }
            }
            &-3 {
                left: 97px;
                bottom: -38px;
                transform: rotate(90deg);
                img {
                    width: 74px;
                    height: 90px;
                }
            }
            &-4 {
                top: 10px;
                right: 55px;
                transform: rotate(75deg);
                img {
                    width: 50px;
                    height: 64px;
                }
            }
            &-5 {
                right: -10px;
                top: -68px;
                transform: rotate(75deg);
                img {
                    width: 80px;
                    height: 103px;
                }
            }
            &-6 {
                top: 10px;
                right: -95px;
                transform: matrix(-0.98, -0.24, 0.18, -0.97, 0, 0);
                img {
                    width: 142.46px;
                    height: 183.16px;
                }
            }
        }
    }
    @media(min-width: 1400px) {
        &__body {
            padding:42px 210px 45px;
        }
        &__form {
            &__item {
                flex: 1 1 auto;
                padding: 12px 21px;
                &:nth-child(1) {
                    margin-right: 25px;
                }
                &:nth-child(1), &:nth-child(2) {
                    width: calc(50% - 25px);
                }
                &:nth-child(3) {
                    padding: 10px 21px;
                }
            }
        }
    }
}